.card_formulario {
   width: 100%;
   border-radius: 20px;
   padding: 20px;
   background-color: var(--branco);
   border: 1px solid var(--borda-card);

   & form {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   & h1 {
      color: var(--realce);
      font-size: 2.5rem;
      text-align: center;
   }

   & .rowTitulo {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 2px solid var(--gelo);
   }

   & .row {
      display: flex;
      gap: 25px;

      & .particao {
         display: flex;
         flex-direction: column;
         gap: 8px;
         flex: 1;
      }

      .input_wrap {
         display: flex;
         border-radius: 12px;

         & span {
            flex: 1;
            border: 1px solid var(--realce);
            border-radius: 12px 0 0 12px;
            border-right: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            color: var(--realce);
            font-size: .9rem;
         }

         & input {
            flex: 8;
            border-radius: 0 12px 12px 0;
            outline: none !important;
         }
      }

      .input_wrap.focus {
         outline: 3px solid var(--borda-outline-input);
      }

      & .inptRadio {
         flex-direction: row;
         align-items: center;
      }

      & label {
         font-weight: 500;
         font-size: 1rem;
      }

      & input,
      select {
         border: 1px solid var(--realce);
         border-radius: 12px;
         height: 35px;
         padding-left: 10px;
         font-size: .9rem;
      }

      & input:focus,
      select:focus {
         outline: 3px solid var(--borda-outline-input);
      }

      & input[type=date] {
         padding-right: 10px;
      }

      & input[type=submit] {
         padding: 0 20px;
         height: 35px;
         cursor: pointer;
         background-color: var(--realce);
         color: var(--gelo);
         font-size: 1.2rem;
         border: none;
         transition: all var(--trans02) ease;
      }
      & input[type=submit]:hover {
         background-color: var(--realce02);
      }

      & p {
         text-align: center;

         & a {
            font-weight: 500;
            color: var(--realce02);
         }
      }

      & label.switch {
         position: relative;
         display: flex;
         width: 60px;
         height: 34px;

         & input[type=checkbox] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
         }

         & span.slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            border-radius: 34px;
            transition: var(--trans04);
         }

         & span.slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            bottom: 4px;
            left: 4px;
            background-color: var(--branco);
            border-radius: 50%;
            transition: var(--trans04);
         }

         & input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
         }

         & input:checked + .slider {
            background-color: var(--verde);
         }
      }
   }

   & .rowBtn {
      justify-content: center;
      align-items: center;
      gap: 1rem;
   }
}