.container {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card_formulario {
   width: 50%;
   border-radius: 20px;
   padding: 20px;
   background-color: var(--branco);

   & h1 {
      color: var(--realce);
      font-size: 2.5rem;
      text-align: center;
   }

   & .row {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-top: 20px;

      & label {
         font-weight: 500;
         font-size: 1rem;
      }

      & input {
         border: 1px solid var(--cinza);
         border-radius: 12px;
         height: 40px;
         color: var(--realce);
         padding-left: 10px;
      }

      & input[type=submit] {
         width: 200px;
         margin: 0 auto;
         cursor: pointer;
         background-color: var(--realce);
         color: var(--gelo);
         font-size: 1.2rem;
         font-weight: bold;
         border: none;
         transition: all var(--trans02) ease;
      }
      & input[type=submit]:hover {
         background-color: var(--realce02);
      }

      & p {
         text-align: center;

         & a {
            font-weight: 500;
            color: var(--realce02);
         }
      }
   }
}