@import url('variaveis.css');

.rowTitulo {
   margin-bottom: 10px;
}

/* Classes padrão para formatar elementos do card */
.bg_verde {
   background-color: var(--bg-icon-card1) !important;
}
.co_verde {
   color: var(--co-icon-card1) !important;
}

.bg_azul {
   background-color: var(--bg-icon-card2) !important;
}
.co_azul {
   color: var(--co-icon-card2) !important;
}

.bg_roxo {
   background-color: var(--bg-icon-card3) !important;
}
.co_roxo {
   color: var(--co-icon-card3) !important;
}

.bg_laranja {
   background-color: var(--bg-icon-card4) !important;
}
.co_laranja {
   color: var(--co-icon-card4) !important;
}
/* ---------------------------------------- */

.row.meses {
   display: flex;
   gap: 10px;

   & span.mes_dashboard {
      flex: 1;
      padding: 10px;
      background-color: var(--branco);
      border-radius: 10px;
      border: 1px solid var(--borda-card);
      text-align: center;
      cursor: pointer;
      transition: var(--trans02);
   }

   & span.mes_dashboard:hover {
      background-color: var(--borda-card);
   }
}

/* Formatação dos cards de resumo */
.dashboard .row.resumo {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 10px;
   margin-top: 10px;   
   z-index: 1;
}

.card {
   flex: 1;
   background-color: var(--branco);
   border-radius: 20px;
   border: 1px solid var(--borda-card);
   padding: 20px;
   text-align: left;
   position: relative;
   overflow: hidden;

   & .row.row_resumo {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;

      & .particao i {
         font-size: 2rem;
         padding: 5px;
         border-radius: 15px;
         background-color: var(--borda-card);
         color: var(--cinza);
      }

   }

   & h3 {
      font-weight: 400;
      margin-bottom: 5px;
      font-size: .95rem;
   }

   & h1 {
      font-size: 1.3rem;
   }
}

/* Formatação da sessão do gráfico */
.grafico {
   margin-top: 10px;

   & .card {
      & h1 {
         font-size: 1.1rem;
      }

      & #myChart {
         margin-top: 10px;
         width: 100%;
         max-height: 400px;
      }
   }
}

section.resumo_por_obra {
   margin-top: 10px;
   display: flex;
   gap: 10px;
   /* position: relative; */

   & h1 {
      font-size: 1.1rem;
      margin-bottom: 10px;
   }

   & .card {
      max-height: 500px;
   }

   & .card:first-of-type {
      overflow-y: scroll;
   }

   & .card::-webkit-scrollbar {
      display: none;
   }
   
   & .card:first-of-type .row:last-of-type table.tabela_gastos_obras {
      width: 100%;
   }
}