@import url('variaveis.css');

.dashboard {
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.card {
   flex: 1;
   background-color: var(--branco);
   border-radius: 20px;
   padding: 20px;
   border: 1px solid var(--borda-card);
}