.container_lista {
   border-radius: 20px;
   padding: 20px;
   background-color: var(--branco);
   border: 1px solid var(--borda-card);

   & h1,
   i.icon_titulo {
      color: var(--realce);
      font-size: 2rem;
   }

   & .rowTitulo {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 2px solid var(--gelo);
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   & .row.lista {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      & .card {
         display: flex;

         & h2 {
            font-size: 1.1rem;
         }

         & .row {
            display: flex;
         }

         & .particao {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-top: 7px;
            gap: 5px;

            & i {
               font-size: 2rem;
               color: var(--verde);
            }
         }
         
         & .particao_info {
            flex: 5;
         }

         & .particao_btns_acao {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;
         }
      }

      & .card_gasto {
         padding: 15px;
         border-radius: 20px;
         background-color: var(--gelo);
      }
   }
}

#paginacao {
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
   gap: 10px;
   align-items: center;
   justify-content: center;
   margin-top: 10px;

   & #botoes_pagina {
      display: flex;
      gap: 8px;   

      & button {
         border: 1px solid var(--realce);
         padding: 8px 15px;
         background-color: transparent;
         border-radius: 8px;
         color: var(--realce);
         cursor: pointer;
         transition: all var(--trans02) ease;
      }
   }
}