.container.container_titulo .rowTitulo{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 10px;

   & h1,
   h1 i {
      font-size: 1.8rem;
   }
}

/* Para espaçar os cards de obra */
.container.container_lista:not(:last-of-type) {
   margin-bottom: 10px;
}

.container_lista {
   border-radius: 20px;
   padding: 20px;
   background-color: var(--branco);
   border: 1px solid var(--borda-card);

   & h1,
   i.icon_titulo {
      color: var(--realce);
      font-size: 2rem;
   }

   & .rowTitulo {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 2px solid var(--gelo);
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .particao {
         display: flex;
         gap: 10px;
      }
   }

   & .row.lista {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      
      & .card {
         display: flex;

         & h2 {
            font-size: 1.1rem;
         }

         & .row {
            display: flex;
         }

         & .particao {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-top: 7px;
            gap: 5px;

            & i {
               font-size: 2rem;
               color: var(--verde);
            }
         }
         
         & .particao_info {
            flex: 5;
         }

         & .particao_btns_acao {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;
         }
      }

      & .card_gasto {
         padding: 15px;
         border-radius: 20px;
         background-color: var(--gelo);
      }
   }

   & .row.titulo_obra {
      border-bottom: 2px solid var(--gelo);
      padding-bottom: 10px;
      margin-bottom: 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      & h2.titulo_card_obra {
         font-size: 1.5rem !important;

         & span {
            font-size: .9rem;
            opacity: .6;
         }
      }

      & .particao:last-of-type {
         display: flex;
         gap: 5px;
      }
   }

   & h3 {
      font-size: 1.1rem;
   }

   & .row.info_obra {
      display: flex;

      & .particao {
         flex: 1;

         display: flex;
         flex-direction: column;
         gap: 10px;

         & span {
            font-weight: 600;
         }

         & .box_porcentagem {
            width: 70px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 1px solid var(--verde);
            background-color: var(--verde-claro);
            border-radius: 15px;
            
            & span {
               color: var(--verde);
            }
         }
      }
   }

   & .row.dados_adm_obra {
      margin-top: 20px;

      & .particao {
         border: 1px solid black;
         display: flex;
         gap: 10px;
      }
   }
}

/* Formatação da sessão de paginação */
#paginacao {
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
   gap: 10px;
   align-items: center;
   justify-content: center;
   margin-top: 10px;

   & #botoes_pagina {
      display: flex;
      gap: 8px;   

      & button {
         border: 1px solid var(--realce);
         padding: 8px 15px;
         background-color: transparent;
         border-radius: 8px;
         color: var(--realce);
         cursor: pointer;
         transition: all var(--trans02) ease;
      }

      & button:hover {
         background-color: var(--realce);
         color: var(--branco);
      }
   }

   & #botoes_pagina button.active {
      background-color: var(--realce) !important;
      color: var(--branco) !important;
   }
}