@import url("variaveis.css");

header {
   width: 100%;
   height: 50px;
   background-color: var(--branco);
   margin-bottom: 20px;
   border-bottom: 1px solid var(--borda-card);
   position: fixed;
   top: 0;
   z-index: 999;

   & nav {
      display: flex;
      justify-content: space-between;
   }

   & ul {
      height: 50px;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 35px;

      & li {
         height: 100%;
         place-content: center;
         position: relative;

         & a {
            color: var(--realce);
            text-decoration: none;
         }

         & i {
            color: var(--realce);
            margin-right: 8px;
            font-size: 1.2rem;
         }
      }

      & li::after {
         content: '';
         width: 0;
         height: 5px;
         position: absolute;
         bottom: 0;
         left: 0;
         background-color: var(--realce);
         transition: all var(--trans02) ease;
      }

      & li:hover::after {
         width: 100%;
      }
   }
}