@import url("variaveis.css");

body {
    width: 100%;
    height: auto;
    padding: 60px 0 10px 0;

    background-color: var(--gelo);
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

/* formatação geral dos botões */
a.btn,
button.btn {
    width: fit-content;
    height: 35px;
    border-radius: 12px;
    border: 1px solid var(--realce);
    background-color: transparent;
    display: block;
    padding: 0 15px;
    place-content: center;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    gap: 5px;
    align-items: center;

    color: var(--realce);
    font-size: 1rem;
    transition: all var(--trans02) ease;
}

/* Formatação padrão dos botões azuis */
a.nav,
a.editar {
    background-color: transparent;
    border: 1px solid var(--realce);
    color: var(--realce);

    & i {
        color: var(--realce);
    }
}
a.nav:hover,
a.editar:hover,
button.btn:hover {
    background-color: var(--realce);
    color: var(--branco);

    & i {
        color: var(--branco);
    }
}

/* Formatação botões de voltar */
a.voltar {
    background-color: transparent;
    border: 1px solid var(--cinza);
    color: var(--cinza);
}
a.voltar:hover {
    background-color: var(--cinza);
    color: var(--branco);
}

/* Formatação botões de excluir */
.excluir {
    background-color: transparent;
    border: 1px solid var(--vermelho) !important;
    color: var(--vermelho) !important;

    & i {
        color: var(--vermelho) !important;
    }
}
.excluir:hover {
    background-color: var(--vermelho) !important;
    color: var(--branco) !important;

    & i {
        color: var(--branco) !important;
    }
}

.bold {
    font-weight: 500;
}

.price {
    color: var(--verde);
}

/* Classes padrão para definir o flex de elementos */
.f1 {
    flex: 1 !important;
}

.f2 {
    flex: 2 !important;
}

.f3 {
    flex: 3 !important;
}

.f4 {
    flex: 4 !important;
}

.f5 {
    flex: 5 !important;
}

/* 
    Formatação de modal
    no momento que estou criando, estou criando para utilizar no página de lista_gastos_obras
    mas como provavelmente vou querer/precisar criar modais em outras páginas, estou criando uma
    formatação geral no style.css para não precisar ficar replicando em outras páginas e nem linkando 
    páginas css que não tem nada a ver umas com as outras
*/
.overlay {
    display: none;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 145dvh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 11;
}

div.modal {
    position: fixed;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    
    background-color: var(--branco);
    padding: 20px;
    border: .5px solid var(--borda-card) !important;
    border-radius: 20px;

    & h2 {
        font-size: 1.6rem;
    }

    /* 
        Formata a linha com o título do modal e o botão de fechar
    */
    & .conteudo_modal .row:first-of-type {
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid var(--gelo);
        padding-bottom: 10px;

        & button {
            padding: 3px 5px;

            & i {
                font-size: 1.3rem;
            }
        }
    }

    & .conteudo_modal .row {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 15px;

        .particao {
            display: flex;
            flex-direction: column;
        }

        & label {
            font-size: .9rem;
        }
        
        & select,
        input {
            border: 1px solid var(--realce);
            border-radius: 12px;
            height: 35px;
            color: var(--realce);
            padding: 0 10px 0 10px !important;
            font-size: .9rem;
        }

        & .botoes_modal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }
    }

    & .row.filtros_data {
        flex-direction: row;
        gap: 10px;
    }
}