@import url('variaveis.css');

table { 
   border-spacing: 0;
   text-align: left;
   
   & tr {
      height: 50px;
      align-items: center;
      display: flex;
      transition: all var(--trans02) ease;
   }

   & tr:not(.linha_cabecalho):hover {
      padding: 0 5px;
      background-color: var(--gelo);
   }

   /* Criei essa formatação para que sempre que a tabela estiver vazia, ainda tenha uma linha abaixo do cabeçalho */
   & .linha_cabecalho {
      border-bottom: 1px solid var(--borda-card);
   }
   
   & tr:not(:last-of-type) {
      border-bottom: 1px solid var(--borda-card);
   }
   
   & th {
      color: var(--realce);
   }
   
   & td,
   td p {
      font-size: .9rem;
   }

   & .verde {
      color: var(--verde);
      font-weight: 500;
   }

   /* Formatação da largura de cada coluna da tabela */
   & .f-3 {
      flex: .3;
   }
   
   & .f-5 {
      flex: .5;
   }
   
   & .f-6 {
      flex: .6;
   }
   
   & .f1 {
      flex: 1;
   }

   & .f1-2 {
      flex: 1.2;
   }

   & .f2 {
      flex: 2;
   }

   & .f3 {
      flex: 3;
   }

   & .f4 {
      flex: 4;
   }

   & .f5 {
      flex: 5;
   }

   & .f6 {
      flex: 6;
   }

   & .celula_botoes_acoes {
      display: flex;
      gap: 5px;
      justify-content: flex-end;
   }

   & .letra_menor {
      font-size: .7rem;
   }
}