:root {
    --cor-texto: rgba(26, 26, 26, 0.84);
    --cinza: rgba(26, 26, 26, 0.7);
    --cinza-claro: rgba(37, 37, 37, 0.438);
    --borda-card: rgba(37, 37, 37, 0.130);
    --borda-outline-input: #213c5133;
    --realce: #213C51;
    --realce02: #173044;
    --gelo: #fafafa;
    --branco: #fff;
    --vermelho: #f16060;
    --vermelho02: #cc4545;
    --verde: #66ac5f;

    --verde-claro: #e9fae8;
    
    --bg-icon-card1: #ddf8e0;
    --co-icon-card1: #66ac5f;
    
    --bg-icon-card2: #ddf4f8;
    --co-icon-card2: #5f89ac;

    --bg-icon-card3: #e9ddf8;
    --co-icon-card3: #805fac;

    --bg-icon-card4: #f8eddd;
    --co-icon-card4: #ac8d5f;

    --trans02: .2s;
    --trans04: .4s;
}